*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

html{
    height: 100%;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    flex-direction: flex-start;
    background-color: #333333;
    border-bottom: 3px solid #00ff00;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.logo__img{
    height: 2em;
}

header .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-style: italic;
}

header .logo h1{
    font-size: 1.2em;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 0.5em;
    margin: 0 auto;
}

header .menulist{
    list-style: none;
    display: flex;
}

header .menulist__item{
    padding: 0 0.3em;
}

header .menulist__link{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.7em;
    text-transform: uppercase;
}

header .menulist__link:hover{
    color: #00ff00;;
    text-shadow: 0 0 1em #00ff00;
}


main{
    margin: 5em 0;
}

main .contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-gap: 1em;
    grid-template-areas:    "articuloUno  articuloUno aside"
                            "articuloDos  articuloDos aside";

    max-width: 1300px;
    margin: 0 auto;
}

main .contenidoUno,
main .contenidoDos,
main .sidebar,
main .widgetUno,
main .widgetDos,
main .widgetTres,
main .widgetCuatro{
    background-color: #333333;
    border-radius: 0.5em;
    padding: 1em;
    color: #ffffff;
    box-shadow: 0 0 0.5em #33333388;
}

main .contenidoUno{
    grid-area: articuloUno;
}

main .contenidoDos{
    grid-area: articuloDos;
}

main .contenedor .title{
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    color: #00ff00;
    text-transform: uppercase;
}

main .contenedor .parrafo{
    text-align: justify;
    font-size: 0.7em;
}

main .sidebar{
    grid-area: aside;
}

main .sidebar .imagenes .img__escudo{
    height: 34px;
}

main .sidebar .imagenes{
    display: grid;
    grid-gap: 1em;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
}

.contenedor .sidebar .img__escudo:hover{
    transform: scale(2,2);
}


footer{
    background-color: #333333;
    border-top: 3px solid #00ff00;
    width: 100%;
    height: 8em;
}

footer .redes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin-top: 2.5em;
}

footer .redes__img{
    height: 38px;
    margin: 0 10px;
}

.footer__barra h3{
    padding: 0.5em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1em;
}

.footer__barra{
    border-top: 1px solid #00ff00;
    background-color: #000000;
    bottom: 0;
    height: 2.3em;
}

@media screen and (max-width: 768px){
    header .logo{
        display: none;
    }

    header .navbar{
        justify-content: center;
    }
}

@media screen and (max-width: 480px){
    header .logo{
        display: none;
    }

    header .navbar{
        justify-content: center;
    }

    header .menulist__link{
        font-size: 0.5em;
    }
}

@media screen and (max-width: 380px){
    header .menulist{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    header .menulist__item:not(.ultimo){
        padding-bottom: 0.3em;
        border-bottom: 1px solid #555555;
    }
}

